.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 30%);
    font-size: 0.9em;

    #busuanzi_container {
        .busuanzi_icon {
            margin-right: 0.2em;
            width: 18px;
            height: 18px;
        }
        #separator {
            margin: 0 0.5em 0 0.5em;
        }
    }

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
}
