@import "~bootstrap/scss/bootstrap";

@import "./github-markdown.css";

#navbar {
  width: 100%;

  .icon {
    height: 1.5em;
  }
}

#main {
}

#if-imagewall {
  width: 100%;
  height: 250px;

  border: none;
}