@import "~bootstrap/scss/bootstrap";

@import "./github-markdown.css";

#navbar {
  width: 100%;

  .icon {
    height: 1.5em;
  }
}

#main {
}

#if-imagewall {
  width: 100%;
  height: 250px;

  border: none;
}

.index-post-date {
  flex: 0 0 100px !important;
}

.index-post-category {
  flex: 0 0 50px;
}

.link-view-all {
  font-size: 1.5rem;
}

.post-category {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.post-header {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;

  .post-date {
    margin-bottom: 8px;
  }

  // override markdown style
  .post-title {
    border-bottom: 0 !important;
    margin-top: .3em !important;
    margin-bottom: 0 !important;
  }
}

.selected-option {
  background-color: rgb(255, 255, 255);
  // x offset, y offset, blur size, spread size, color
  box-shadow: 0 2px 8px -4px gray;
}

// style for mobile
.segment-picker {
  display: flex;
}

// for segmented picker
// set max-width for bigger than sm
@include media-breakpoint-up(sm) {
  .segment-picker {
    display: inline-flex;
    max-width: 300px;
  }
}
